/*styles.css */
body{
    font-family: Arial, sans-serif;
    line-height: 2.5;
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
p1{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    background-color: #333;
    color: #fff;
    padding: 0;

}
nav ul{
    list-style-type: none;

}
nav ul li{
    display: inline;
    margin-right: 1rem;
    color: burlywood;
}
nav ul li a{
    color: #fff;
    text-decoration: none;

}
main{
    padding: 2rem;
    

}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
    position: fixed;
    line-height: 1.2;

}
#news-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.news-item {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    align-items: center;
}